<%= link_to "new media form", new_media_content_path if current_user %>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path if !current_user%>