<br>
<div class="container mt-4">
  <div class="card mt-4">
    <div class="card-header">
      Upload Videos Here!
    </div>
    <div class="card-body">
      <%= link_to "new media form", new_media_content_path, class: 'text-secondary' %>
    </div>
  </div>
</div>
